$primary: #da121a;

// Immer zuletzt
@import "node_modules/bootstrap/scss/bootstrap.scss";

@media screen and (max-width: 900px) {
    .lead {
        text-align: justify;
    }
}

li::before {
    font-size: 120%;
    font-weight: bold;
}
